body{
  background-color: gray;
}

.mainSingleCardDiv
{
  margin: 10px;
  border: 2px solid black;

  background-color: orange;
  display: flex;
  border-radius: 20px;
  padding: 10px;
}
.cardUiStyle {
  margin: 10px;
  border: 2px solid black;
  border-radius: 20px;
  padding: 10px;
  width: 530px;
  background-color: orange;

  box-shadow: 5px 5px rgb(185, 121, 1);

  display: flex;

  
}

.cardUiStyle:hover {
  background-color: rgb(206, 136, 6);
}

.cardUiImg {
  width: 100px;
  height: 150px;
  margin: 10px;
}

#output {
  display: flex;
  flex-direction: column;
}

.cardInfoDiv
{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    flex-wrap: wrap;

    width: 400px;
}
.cardDeleteButton
{
  border-radius: 20px;
}

.search
{
  border: 1px solid black;
  margin: 10px;
  padding: 10px;
}

.mainCardDiv
{
  display: flex;
  flex-direction: row;
}

#cardDetail{
  width: 100%;
  height: 900px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.cardDetailDiv{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}